@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    margin:10px 0px 0px 60px ;
    font-size: 4rem;
    font-weight: bolder;
}

.listapg2 {
    margin: 10px;
    font-size: 1.3rem;
}

.cards {
    font-size: 1.1em;
}

p {
    text-align: justify;
}