@charset "UTF-8";

@media screen and (min-width:750px) {

    .item1 {
        font-size: 2.4rem;
    }

    .menu-hamburguer span {
        width: 40px;
        height: 6px;
        margin: 1px;
        border: none;

    }

    .menu-hamburguer.ativo span:nth-child(1) {
        transform: translateY(12px) rotate(46deg);
    }

    /* SEGUNDA BARRA */

    .menu-hamburguer.ativo span:nth-child(2) {
        opacity: 0;
    }

    /* TERCEIRA BARRA */

    .menu-hamburguer.ativo span:nth-child(3) {
        transform: translateY(-14px) rotate(-45deg);
    }

    #menu a {

        font-weight: bolder;
        font-size: 1.7rem;
    }

    #p1 {

        margin: 10px 0px 10px 15px;
        font-size: 2.4rem;
    }

    .item1:hover {
        font-weight: 900;
        cursor: pointer;
        font-size: 3.1rem;
        transition: 0.6s;
    }

    #apresentacao h1 {

        font-size: 4.3rem;
        font-weight: bolder;
    }

    #apresentacao p {

        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    #apresentacao a {

        font-size: 1.4rem;
        width: 50%;
        margin-bottom: 10px;
    }

    .cards {
        display: flex;
    }

    .cards a {
        margin: auto;
    }

    #terminal {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }


    #terminal p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .cards h2 {
        font-size: 2.2rem
    }

    .cards p {
        font-size: 1.3rem;
    }

    .cards a {

        font-size: 1.4rem;
        width: 37%;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #habilidades a {

        font-size: 1.4rem;
        width: 47%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #projetos a {

        font-size: 1.4rem;
        width: 47%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #main-contato {
        display: flex;
        flex-direction: column;
    }

    #main-contato>#github a {
        order: 0;
        width: 35%;
    }

    #main-contato>#email {
        order: 1;

    }

    #main-contato>#watt a {
        order: 2;
        width: 45%;
    }



    #main-contato>#github {
        order: 0;

    }

    #main-contato>#email {
        order: 1;

    }

    #main-contato>#watt {
        order: 2;

    }

    #main-habilidades h3 {

        font-size: 1.4rem;
    }

    #main-habilidades ul,
    #main-metas ul,
    #corpo-projetos ul,
    #main-sobre ul {

        font-size: 1.3rem;
        padding-left: 15px;
    }

    #roadmap span {

        font-size: 1.4rem;
    }

    .barra {
        height: 45px;
    }

    #main-projetos h2 {
        margin-top: 15px;
    }

    footer {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }


}

@media (min-width: 758px) and (max-width: 1200px) {
   
  .item1 {
    font-size: 2.4rem;
    
  }

  
    .menu-hamburguer span {
        width: 30px;
        height: 4px;
        margin: 1px;
        border: none;

    }

  .menu-hamburguer.ativo span:nth-child(1) {
        transform: translateY(10px) rotate(50deg);
    }

    /* SEGUNDA BARRA */

    .menu-hamburguer.ativo span:nth-child(2) {
        opacity: 0;
    }

    /* TERCEIRA BARRA */

    .menu-hamburguer.ativo span:nth-child(3) {
        transform: translateY(-12px) rotate(-47deg);
    }\''
}