@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    margin:10px 0px 0px 60px ;
    font-size: 4rem;
    font-weight: bolder;
}

.subtitulo {
    margin: 10px 0px 30px 60px;
    color: var(--text-gray);
    font-size: 1.5em;
}

.listapg2 {
    margin: 10px;
    font-size: 1.3rem;
}

.cards {
    font-size: 1.1em;
}

.cards > h2 {
    color: var(--text-white);
}

.cards ul {
    margin-left: 40px;
   
}

section > a {
    padding: 20px;
    margin-bottom: 10px;
}

.hero {
    max-width: 1600px;

    padding: 20px;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#apresentacao {
    flex: 1;
}

#terminal {
    flex: 0.7;
}