@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --bg-main: #080B14;
    --bg-secondary: #0F1626;
    --card-bg: #151F33;

    --primary: #00D9FF;
    --primary-hover: #33E1FF;
    --secondary: #8B5CF6;

    --text-white: #F1F5F9;
    --text-gray: #94A3B8;
    --text-dark: #64748B;

    --border-color: #24324A;

    --font-title: 'Orbitron', sans-serif;
    --font-terminal: 'Share Tech Mono', monospace;
    --font-default: Arial, Helvetica, sans-serif;

}

#container-cabeca {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    padding: 15px;

    font-family: var(--font-terminal);
}

.item1 {
    font-size: 1.3rem;
    margin-top: 0px;
}

.item1:hover {
    font-weight: 900;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.6s;
}

body {
    color: var(--text-white);
    background-color: var(--bg-main);
    font-family: var(--font-default);
}

nav a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 1.2rem;
}

strong {
    color: var(--primary);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 10px;
    padding: 10px;

    box-shadow: inset 1px 1px 1px rgb(33, 41, 57);
    border-radius: 10px;
    background-color: var(--card-bg);
    margin-bottom: 25px;

}

.cards h1 {
    padding: 0px 0px 0px 4px;
    font-size: 2.4rem;

    margin-bottom: 10px;
    margin-top: 10px;
}

.cards p {
    padding: 10px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.cards a {
    background-color: var(--border-color);
    color: var(--text-white);
    padding: 15px;
    text-align: center;

    margin-left: 10px;
    width: 45%;

    text-decoration: none;
    border-radius: 20%;
}

.cards a:hover {
    background-color: var(--primary);

}

.destaque {
    color: var(--text-gray);
}

/* BOTÃO */

.menu-hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0;

    background: transparent;
    border: none;

    cursor: pointer;

    gap: 5px;
}

/* BARRAS */

.menu-hamburguer span {
    width: 28px;
    height: 3px;

    background-color: var(--text-white);

    border-radius: 5px;

    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.menu-hamburguer span:hover {
    background-color: var(--primary-hover);

    transition: 0.4s;
   

}

/* MENU FECHADO */

#menu {
    display: none;
}

/* MENU ABERTO */

#menu.ativo {
    display: flex;

    flex-direction: column;
    align-items: flex-end;

    position: absolute;

    top: 100%;
    right: 0;

    padding: 10px;
    border-radius: 7%;
    margin-right: 13px;
    gap: 10px;


    background-color: rgba(0, 0, 0, 0.77);


}

/* PRIMEIRA BARRA */

.menu-hamburguer.ativo span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* SEGUNDA BARRA */

.menu-hamburguer.ativo span:nth-child(2) {
    opacity: 0;
}

/* TERCEIRA BARRA */

.menu-hamburguer.ativo span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 4px;
    color: var(--text-gray);
}